# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# IDE
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Large/generated datasets
data/

# Local nested Git repository
data/raw/simulated-data-raw/

# Jupyter
.ipynb_checkpoints/